* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* common class */

.linear {
  background: linear-gradient(30deg, #f7e93f, #fb09b4, #9100f8);
}

#navber {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  border-bottom: 1px solid gray;
  background-color: rgba(26, 11, 46, 1);
}
.nav-logo {
  text-align: center;
}
.nav-logo p {
  font-size: 32px;
  font-weight: bolder;
  color: rgb(219, 216, 216);
}

.nav-logo p span {
  background: linear-gradient(11deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#navber ul {
  display: flex;
  gap: 35px;
}

#navber ul li {
  color: rgb(236, 236, 236);
  list-style: none;
}

.nav-btn {
  height: 47px;
  width: 135px;
  color: rgb(244, 242, 242);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

/* hero section */

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 760px;
  background-image: url('./assets/hero-bg.png');
  background-size: auto;
  background-position: center;
}

#hero-section img {
  height: 350px;
  width: 350px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.new {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 776px;
  top: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 75px;
  border-radius: 30px;
  background-color: #00ff88;
}

#hero-section .hero-img-2 {
  position: absolute;
  margin-top: 70px;
  height: 210px;
  width: 170px;
}

.hero-section-2 {
  text-align: center;
  height: 168px;
  width: 550px;
}

.hero-head h2 {
  font-size: 65px;
  font-weight: 800;
  line-height: 70px;
  color: rgb(245, 241, 241);
  padding-bottom: 10px;
}

.hero-head p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(220, 217, 217);
  padding-bottom: 23px;
}

.listen {
  height: 44px;
  width: 200px;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.subscribe-btn {
  height: 44px;
  width: 147px;
  font-size: 16px;
  font-weight: 600;
  color: #00ff88;
  border-radius: 30px;
  border: 1px solid #00ff88;
  background-color: transparent;
}

/* about section */

#about-section {
  background-color: rgba(26, 11, 46, 1);
  height: 645px;
  padding: 50px 200px 120px 200px;
}

.about-heading {
  text-align: center;
}

.about-heading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: rgb(242, 240, 240);
  padding-bottom: 16px;
}

.about-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: rgb(220, 217, 217);
  padding-bottom: 25px;
}

.line {
  height: 1px;
  margin: 82px 0px 80px 0px;

  background-color: rgba(206, 187, 187, 0.27);
}

.count {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.count .count-box {
  height: 100px;
  width: 240px;
}

.count .count-box span {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
  line-height: 60px;
}

.count .count-box p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  padding-top: 16px;
}

/* complex part */

.container {
  height: 900px;
  padding: 120px 200px 120px 200px;
  background-color: rgba(35, 14, 61, 1);
}

.box-heading {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  word-spacing: 1px;
  color: white;
  padding-bottom: 40px;
}

.box-parent {
  height: 783px;
  width: 1503px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

/* grid box 1 */
.container-box1 {
  grid-row: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
}

/* box er common class */

.h4-common {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-common {
  font-size: 16px;
  font-weight: 400;
  color: rgb(199, 186, 186);
  line-height: 26px;
}

.img-common {
  height: 60px;
  width: 60px;
}

/* grid box 2 */

.container-box2 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}

/* grid box 3 */
.container-box3 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}

/* grid box 4 */
.container-box4 {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}

/* grid box 5 */
.container-box5 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}

/* featured-section */

#featured-section {
  height: 900px;
  background-color: rgba(26, 11, 46, 1);
}

.featured-contain {
  padding: 120px 200px 120px 200px;
}

.feature-heading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: white;
}


/* feature common style */
.feature-video-grup {
  display: flex;
  height: 440px;
  gap: 27px;
}

.video {
  border-radius: 24px 24px 0px 0px;
}

.feature-video {
  background-color: rgba(37, 13, 68, 1);
  border-radius: 24px;
}

.feature-h4 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(237, 232, 232);
  padding: 24px 24px 12px 24px;
}

.feature-p {
  font-size: 16px;
  line-height: 24px;
  padding: 0px 24px;
  color: rgba(231, 225, 225, 0.706);
}

.time {
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #00ff88;
  padding: 12px 24px 24px 24px;
}
